.basic-good {
  display: grid;
  padding-right: 20px;
  padding-left: 20px;

  grid-template-columns: 1fr 1fr;
}

.basic__good__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basic-good__info {
  padding-top: 15px;
}

.basic-good__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 15px;
  padding-right: 35px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.basic-good__table {
  width: 100%;

  font-size: 12px;
  line-height: 16px;
}

.basic-good__table-header {
  font-weight: 500;
}

.basic-good__table-cell {
  text-align: right;
}

.basic-good__button {
  margin-bottom: 25px;

  grid-column: 1 / 3;
}
