.catalog {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
  }
}

.catalog__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }
}
