.checkbox__label {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  &::before {
    content: "";

    display: block;
    width: 30px;
    height: 30px;
    margin-right: 15px;

    box-shadow: inset 0 0 0 1px $light-grey;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::before {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
}

.checkbox__input:focus + .checkbox__label::before,
.checkbox__input:hover + .checkbox__label::before {
  box-shadow: inset 0 0 0 1px #bababa;
}


.checkbox__input:active + .checkbox__label {
  color: rgba(#000000, 0.3);

  &::before {
    box-shadow: inset 0 0 0 1px rgba($light-grey, 0.3);
  }
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 14px;
}
