.form__basic-list,
.form__programm-list,
.form__contacts-list,
.form__additional-list {
  @include mobile-container;

  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.form__field-comment {
  height: 150px;
}
