.logo {
  &--text {
    width: 128px;
    height: 24px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;

    &--text {
      width: 128px;
      height: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;

    &--text {
      width: 128px;
      height: 24px;
    }
  }
}
