.main-footer {
  padding-top: 39px;
}

.main-footer > *:not(:first-child) {
  border-top: 1px solid #d9d9d9;
}

.main-footer__logo-link {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.main-footer__social {
  margin-bottom: 20px;
  padding-top: 20px;
}

.main-footer__copyright {
  margin-bottom: 22px;
  padding-top: 22px;
}
