.main-header {
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-right: 30px;
    padding-bottom: 22px;
    padding-left: 30px;

    grid-template-columns: 174px max-content;
  }

  @media (min-width: $desktop-width) {
    @include desktop-container;

    padding-top: 53px;
    padding-bottom: 53px;
  }
}

.main-header__text-logo {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__inner {
  position: relative;
  z-index: 1;

  display: grid;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: $white;

  grid-template-columns: 190px 24px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.main-header__menu-toggle {
  width: 24px;
  height: 18px;

  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &--cross {
    background-image: url("../img/icon-close.svg");
  }

  &--no-js {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__nav {
  transition: margin-top 0.5s;

  &--closed {
    margin-top: -200px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;

    &--closed {
      margin-top: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;

    &--closed {
      margin-top: 0;
    }
  }
}
