.main-footer {
  padding-bottom: 22px;

  background-color: $smoky-white;

  @media (min-width: $tablet-width) {
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.main-footer__container > *:not(:first-child) {
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-footer__dealers {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: calc((100% - 1220px) / 2);
    z-index: 1;
  }
}

.main-footer__map {
  height: 362px;
  margin-bottom: 40px;

  background-color: #000000;

  @media (min-width: $tablet-width) {
    height: 400px;
    margin-bottom: 56px;

    grid-column: 1 / 4;
  }
}

.main-footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;

    column-gap: 100px;

    grid-template-columns: 128px 1fr 163px;
  }
}

.main-footer__logo-link {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social {
  margin-bottom: 20px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 0;
  }
}

.main-footer__copyright {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 0;
  }
}
