.main-footer {
  padding-bottom: 22px;

  background-color: $smoky-white;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;

    column-gap: 100px;

    grid-template-columns: 128px 1fr 163px;
  }
}

.main-footer__container > *:not(:first-child) {
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-footer__map {
  height: 362px;
  margin-bottom: 39px;

  background-color: #000000;

  @media (min-width: $tablet-width) {
    height: 400px;

    grid-column: 1 / 4;
  }
}

.main-footer__logo-link {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social {
  margin-bottom: 20px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 0;
  }
}

.main-footer__copyright {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 0;
  }
}
