.main-header {
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.main-header__text-logo {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.main-header__menu-toggle {
  width: 24px;
  height: 18px;

  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &--cross {
    background-image: url("../img/icon-close.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
