.preview {
  margin-bottom: 25px;
  padding-top: 25px;

  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: $white;

  background-image: url("../img/index-background-mobile@1x.jpg"),
  linear-gradient($dark-green 0 55%, $white 55%);
  // FIXME: Background image and color not synced
  // =======================================
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-width: $tablet-width) {
    position: relative;

    padding-top: 50px;

    text-align: left;

    background-image: none;
  }
}

.preview__title {
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;

  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    width: 415px;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
    padding-left: 90px;

    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

.preview__text {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 0;
    padding-left: 90px;

    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.preview__image {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.preview__button {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 545px;
    left: 120px;

    padding-top: 18px;
    padding-bottom: 18px;
  }
}
