$white: #ffffff;
$smoky-white: #f2f2f2;
$dark-white: #ebebeb;
$light-grey: #cdcdcd;
$dark-grey: #666666;
$light-black: #444444;
$dark-black: #222222;
$light-green: #68b738;
$dark-green: #5eaa2f;
$pink: #ff8282;

$tablet-width: 768px;
$desktop-width: 1440px;
